<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientID" value="285302882613-i5cpil8oh4u4k1an0dv7tsarv3i9il1a.apps.googleusercontent.com"/>
    <add key="ClientSecret" value="sobiYvU2SHIE3ZXL4tZpLM8b"/>
    <add key="sourceSpreadsheetId" value="1GtL3ND94IN4Sa8O4iQnEEyOYwt-IsiJ9v4oOfvrKqf8"/>
    <add key="sourceSheetId" value="1620784078"/>
    <add key="destinationSpreadsheetId" value="14ctZlQjxCw-tKgGke7duIUIOr2PPsG6Gw7toLnRGqiE"/>
    <add key="ApplicationName" value=""/>
  </appSettings>
</configuration>